@page "/"
<h3>RPA Dashboard</h3>

<p>Blazor Projemiz Başladı 🚀</p>
<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>


@code {
    void ButtonClicked()
    {
        // Handle the Click event of RadzenButton
    }
}
